body {
    width: 365px;
    background-color: grey;
}

.header_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add_contact_icon {
    margin-right: 25px;
}

.form_group {
    margin-bottom: 25px;
}

.submit_button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.error_message {
    color: red;
    font-size: 0.875rem;
    display: none; /* Hidden by default */
}

.contact_form_container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.submit_button {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    display: inline-block;
    background: #f6f6f6;
    padding: 14px;
    border-radius: 20px;
    text-decoration: none;
    outline: none;
    border: none;
}